#table-bg-div{
    background-color: #c12b17;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    padding-top: 2vw;
}

.glowing-effect{
    width: 32%;
    height: 0.5vw;
background: rgb(138,0,14);
background: linear-gradient(270deg,#C12B17 0%,#F73D21 50%, #C12B17 100%);
}
#main{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(to right, #e95ea9 , #d47cab); */
/* background-color: #F7D8D5; */
/* background: rgb(206,30,14);
background: linear-gradient(137deg, rgba(206,30,14,1) 17%, rgba(223,173,61,1) 61%, rgba(250,243,101,1) 100%); */
background-image: url(../img/Calpol_Bg.webp);
overflow-y: scroll;
/* display: flex;
align-items: center;
justify-content: center; */
}

#nav{
    margin: 0 auto;
    width: 100%;
    height: 6vw;
    /* background-color:rgb(255, 199, 199); */

}
.calpolalign{
    padding: 2vw;
width: 8vw;
/* right: 2vw; */
margin-left: auto;
display: block;

}
.center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 flex-direction: column;
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2vw;
    font: bold;
    padding: .1vw 8.2vw;
   background-color: #c12b17;
    font-family:  'Racing Sans One', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 3px;
    line-height: -6px;
}